/node_modules
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework
/package-lock.json
/storage/app/public/csv/
/storage/app/public/files/
/storage/app/public/tiles/
/storage/logs/laravel.log
/vendor
/composer.log
